Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

*.ide
*.nupkg
*.g.cs

packages/*
!packages/repositories.config

!OneClickBuild/tools/VersionInfo.g.cs
Build.proj

testresults/
.sonar*/
publish*/
*.psess
*.vsp
_NCrunch_*/